<ion-header>
  <ion-toolbar>
    <ion-title>tecnologies</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Technologies and frameworks that I will be using to develop this project;</p>
  <h1>Html & CSS</h1>
  <p>Two of the primary technologies for creating Web pages are HTML (the Hypertext Markup Language) and CSS (Cascading Style Sheets). For a range of devices, HTML provides the page structure while CSS handles the (visual and auditory) layout. HTML and CSS are the cornerstones of creating Web pages and Web Applications, together with graphics and coding.</p>
  <h1>JQuery & JQuery mobile</h1>
  <p>The goal of jQuery is to make using JavaScript on your website simpler. Many typical operations that normally need numerous lines of JavaScript code to complete are wrapped into methods by jQuery so that they can be called with just one line of code. An HTML5-based user interface framework called jQuery Mobile is used to create responsive websites and mobile apps that work on all smartphone, tablet, and desktop devices.</p>
  <h1>JavaScript</h1>
  <p>JavaScript enables users to create contemporary web applications that allow direct user interaction without repeatedly refreshing the page. The API frequently uses JavaScript to dynamically modify HTML and CSS to update a user interface. The majority of its applications are web-based.</p>
  <h1>API</h1>
  <P>Application Programming Interface is referred to as API. Any software with a specific function is referred to as an application when discussing APIs. Interface can be compared to a service agreement between two programs. This agreement specifies the requests and responses that the two parties will use to communicate.</P>
  <h1>Visual Studio Code</h1>
<p>You may get started coding right now with the help of the free coding editor Visual Studio Code. Without changing editors, use it to code in any programming language. Python, Java, C++, JavaScript, and many other languages are supported by Visual Studio Code.</p>

  
</ion-content>
