<ion-header>
  <ion-toolbar>
    <ion-title>tecnologies</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Technologies and frameworks that I will be using to develop this project;</p>
<h2>Html & CSS</h2>
<p>Two of the primary technologies for creating Web pages are HTML (the Hypertext Markup Language) and CSS (Cascading Style Sheets). For a range of devices, HTML provides the page structure while CSS handles the (visual and auditory) layout. HTML and CSS are the cornerstones of creating Web pages and Web Applications, together with graphics and coding.</p>
<h2>JQuery & JQuery mobile</h2>
<p>The goal of jQuery is to make using JavaScript on your website simpler. Many typical operations that normally need numerous lines of JavaScript code to complete are wrapped into methods by jQuery so that they can be called with just one line of code. An HTML5-based user interface framework called jQuery Mobile is used to create responsive websites and mobile apps that work on all smartphone, tablet, and desktop devices.</p>
<h2>JavaScript</h2>
<p>JavaScript enables users to create contemporary web applications that allow direct user interaction without repeatedly refreshing the page. The API frequently uses JavaScript to dynamically modify HTML and CSS to update a user interface. The majority of its applications are web-based.</p>
<h2>API</h2>
<P>Application Programming Interface is referred to as API. Any software with a specific function is referred to as an application when discussing APIs. Interface can be compared to a service agreement between two programs. This agreement specifies the requests and responses that the two parties will use to communicate.</P>
<h2>Node JS</h2>
<p>The package manager for the Node JavaScript framework is called npm. It places modules where node can find them and intelligently handles dependency issues. It can be highly customized to support a range of use cases. It is mostly used to publish, find, install, and create node programs.</P>
<h2>Visual Studio Code</h2>
<p>You may get started coding right now with the help of the free coding editor Visual Studio Code. Without changing editors, use it to code in any programming language. Python, Java, C++, JavaScript, and many other languages are supported by Visual Studio Code.</p>
<h2>Angular</h2>
<p>Angular helps to build applications and resuse the code and abbilities to build for deployment target. For web, mobile web, native mobile and native desktop.</p>
<h2>Ionic Framework</h2>
<p>Ionic Framework is an open source UI toolkit for building modern, high performance cross-platform apps from a single codebase.</p>
</ion-content>
