<ion-header>
  <ion-toolbar>
    <ion-title>tecnologies</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Technologies and frameworks that I will be using to develop this project;</p>
  <h1>Html & CSS</h1>
  <p>Two of the primary technologies for creating Web pages are HTML (the Hypertext Markup Language) and CSS (Cascading Style Sheets). For a range of devices, HTML provides the page structure while CSS handles the (visual and auditory) layout. HTML and CSS are the cornerstones of creating Web pages and Web Applications, together with graphics and coding.</p>
</ion-content>
