<ion-header>
  <ion-toolbar>
    <ion-title>personas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>A buyer persona might look something like this:</p>
<h1>Persona 1: David, Married with kids</h1>
  <img src="assets/img/david.png" width="700" height="150"><br>
<ul>
  <li>Name: David</li>
  <li>Demographics: Married, stay-at-home dad with kids between the ages of three and eight. Homeowner, middle-class, and located in the Pacific Northwest.</li>
  <li>Goals: To find clothing for kids that is within budget and update their wardrobe.</li>
  <li>Challenges: Keeping his kids away from television and video games and occupying their time while he completes other tasks around the house.</li>
   <li>Purchase behavior: New customer; hasn’t made a purchase from us before.</li>
    <li>Interests and hobbies: He spends a lot of time on Instagram and engaging with people on forums.</li>
   <li> Benefits of my product: All clothing is designed on an affordable budget and is categorized based on age.</li>
   <li>Objections: He doesn’t want to buy just clothing that his kids will get tired of and doesn’t want to waste time in exploring outlets with kids.</li>
  </ul>
  <h1>Persona 2: Rebecca, a YouTuber and influencer</h1>
  <img src="assets/img/rebacca.png" width="500" height="250"><br>
  <ul>
    <li>Name: Rebecca Stone</li>
    <li>Occupation: YouTuber and fashion influencer</li>
    <li>Demographic: 19 years old, lives in Austin, Texas. Has money thanks to her family of high-income level, lives alone in her apartment.</li>
  </ul>
 
<p>Rebecca’s story:Another persona analysis example is Rebecca. Rebecca is a YouTube and fashion influencer, and she is recording and sharing her trips wherever she goes. Her family is considering her YouTube channel as a hobby.</p>
<p>What Rebecca needs:Rebecca needs to update her wardrobe. She knows all the latest fashion trends need to be the highlight. She didn’t have time to roam around the boutiques to find her taste.</p>
<p>Purchase behavior: She’s purchased different dresses within the last months and signed up for my email list.</p>




</ion-content>
