<ion-header>
  <ion-toolbar>
    <ion-title>personas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>A buyer persona might look something like this:</p>
<ul>
  <li>Name: David</li>
  <li>Demographics: Married, stay-at-home dad with kids between the ages of three and eight. Homeowner, middle-class, and located in the Pacific Northwest.</li>
  <li>Goals: To find clothing for kids that is within budget and update their wardrobe.</li>
  <li>Challenges: Keeping his kids away from television and video games and occupying their time while he completes other tasks around the house.</li>
   <li>Purchase behavior: New customer; hasn’t made a purchase from us before.</li>
    <li>Interests and hobbies: He spends a lot of time on Instagram and engaging with people on forums.</li>
   <li> Benefits of my product: All clothing is designed on an affordable budget and is categorized based on age.</li>
   <li>Objections: He doesn’t want to buy just clothing that his kids will get tired of and doesn’t want to waste time in exploring stores.</li>
  </ul>


</ion-content>
