<ion-header>
  <ion-toolbar>
    <ion-title>personas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>A buyer persona might look something like this:</p>
<ul>
  <li>Name: David</li>
  <li>Demographics: Married, stay-at-home dad with kids between the ages of three and eight. Homeowner, middle-class, and located in the Pacific Northwest.</li>
  <li>Goals: To find clothing for kids that is within budget and update their wardrobe.</li>
  </ul>


</ion-content>
