<ion-header>
  <ion-toolbar>
    <ion-title>sketches</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="assets/img/home.png" width="150" height="300"><br>
<img src="assets/img/login.png" width="150" height="300"><br>
<img src="assets/img/menu.png" width="150" height="300"><br>
<img src="assets/img/directions.png" width="150" height="300"><br>
<img src="assets/img/searchbox.png" width="150" height="300"><br>
</ion-content>
