<ion-header>
  <ion-toolbar>
    <ion-title>sketches</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>home page</h1>
<img src="assets/img/home.png" width="250" height="400"><br>
<h1>login page</h1>
<img src="assets/img/login.png" width="250" height="400"><br>
<h1>menu page</h1>
<img src="assets/img/menu.png" width="250" height="400"><br>
<h1>directions page</h1>
<img src="assets/img/directions.png" width="250" height="400"><br>
<h1>searchbox page</h1>
<img src="assets/img/searchbox.png" width="250" height="400"><br>
<h1>mens clothing page</h1>
<img src="assets/img/mens clothing.png" width="250" height="400"><br>
<h1>shopping bag page</h1>
<img src="assets/img/shoppingbag.png" width="250" height="400"><br>
</ion-content>
