<ion-header>
  <ion-toolbar>
    <ion-title>critique</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Clicky</h1>
<img src="assets/img/clicky.png" width="400" height="150"><br>
<h2>Pros</h2>
<ul>
  <li>Multiple sites.</li>
  <li>Website visitors.</li>
  <li>Dashboard views.</li>
</ul>
<h2>Cons</h2>
<ul>
  <li>Real time data.</li>
  <li>Time consuming.</li>
  <li>Not accurate.</li>
  <li>Interactive pages can glitch.</li>
</ul>
<h1>Shop pay</h1>
<img src="assets/img/shoppay.png" width="400" height="150"><br>
<h2>Pros</h2>
<ul>
  <li>Saves time for shoppers.</li>
  <li>Boosts customer loyalty.</li>
  <li>Multiple channels of customer support.</li>
</ul>
<h2>Cons</h2>
<ul>
  <li>App asks for way too many permissions.</li>
  <li>Poor customer service.</li>
  <li>Very difficult to use.</li>
</ul>
</ion-content>
<space></space>
<p>Mobile applications nowadays offer various functionalities that it has become a part of our life. There is a tremendous rise in mobile application which makes it more challenging to make a bug free, efficient, user friendly and useful application. Developers should follow all the best practices discussed in this paper in order to overcome the challenges. This paper has discussed real challenges and best practices generally occurred to mobile application developers. If this best practices are properly implemented for the given set of challenges, it will provide a best product from it.</p>