<ion-app>
  <ion-menu menuId="main-menu" content-id="main"> 
    <ion-header>
      <ion-toolbar>
        <ion-title>Dashboard</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="App Goal" slot="Start">
          </ion-icon>
          <ion-label>App Goal</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="Representing App" slot="Start">
          </ion-icon>
          <ion-label>Representing App</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="Prototype" slot="Start">
          </ion-icon>
          <ion-label>Prototype</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="Evaluation" slot="Start">
          </ion-icon>
          <ion-label>Evaluation</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="Framework" slot="Start">
          </ion-icon>
          <ion-label>Framework</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>