<ion-header>
  <ion-toolbar>
    <ion-title>goal</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>There are two main goals for the mobile application:</p>
<h1>Quick and convenient</h1>
<p>Shopping apps are designed to make it easy for customers to find and buy the products they need. They also allow you to purchase items faster by allowing customers to save payment info and make in-app payments by logging into an account.</p>
<h2>More responsive and easy to navigate</h2>
<p>Shopping apps are also typically more responsive and easy to navigate than mobile websites. This can be important for customers who have trouble with websites.</p>
</ion-content>
